#title {
    text-align: center;
    font-family: "Roboto";
    font-weight: bolder;
    padding-top: 25px; 
    padding-bottom: 25px;
    margin-bottom: 10px; 
    font-size: 48px;
    color: rgb(5, 107, 3);
    background-color: rgb(250, 250, 250);
}

#skill-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px auto; 
    width: fit-content;
}

.skill-icons {
    width: 35px;
    height: 35px;
    display: block;
    margin: 0; 
}

#introduction {
    width: 500px;
    margin: auto; 
    font-size: 32px;
    text-align: center;
    font-family: "Roboto";
    color: rgb(0, 0, 0);
    paint-order: stroke fill;
    font-weight: 450;
}